/* ---------overall-------*/

*
{
  margin: 0;
  padding: 0;
  font-family: avenir;

}

  /*-----Navigation bar -----------------------------------------------------------------------*/
#nav-bar
{
  position; sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color:#045cb3	 !important;
    font-family: avenir;
    position: sticky;
      text-align: justify;
}

.navbar-brand{
  padding-left: 30px;
  color: #fff	 !important;
  font-size: 13px;
}

.navbar-nav li
{
  padding: 0 30px;
  font size: 14px !important;
  position: relative;
  right: 60px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
  color: #FFFFFF	!important;
}

#nav-bar ul li a:hover
{
  color: #3E83D8 !important;
}
/* --nav bar logo--*/
.navbar-brand img{
  height: 40px;
  position:relative;
  left:7px;
}
/* --Collapsed navbar menu--*/
.fa-bars {
  color: #fff;
  font-size: 25px !important;
}
.active-home{
  border-bottom: 1px solid #FFF ;
}

.navbar .TNP{
  color: #FFf;
}

/*-----Banner  -----------------------------------------------------------------------*/

.logo{
  height: 340px;
  width: 340px;
  position: relative;
  left: 50px;
  top: -10px;
  z-index: 10;

  

}

.banner{
font-family: avenir;
color: #fff;
  overflow-x: hidden;

}

.bannerimage{
  background: no-repeat center;
  background-size: cover;

  height: 800px;
  width: 100%;
}


.banner1{
font-family: avenir;
position: relative;
top: 20px;
  overflow-x: hidden;


}
.banner .parallax{
  background: url('https://imgur.com/VR588mV.png') no-repeat center;
  background-size: cover;
  height: 800px;
}

/*---
.parallax{
  background: url('images/tnpaboutbanner10.png') no-repeat center;
  background-size: cover;
  background-attachment: 
;
  height: 800px;
}---*/

.banner .introduction{
background-color: ;
padding: ;
position: absolute;
top: 10%;
height: 500px;
width: 50%;
}

.banner h3
{
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 60px;
  padding-top: px;
  padding-bottom: : 70px;
  left: 60px;
  font-weight: 400;
}

.banner h4
{
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  left: 60px;
  font-weight: 300;
  line-height: 1.6;

}

.banner h5{
  text-align: center;
  color: #white  !important;
  font-size: 30px;

}


.banner a{
  padding: 13px;
  width: 105px !important;
  height: 54px !important;
  display: inline-block;
  background: #045cb3;
  text-decoration: none !important;
  color: #fff;
  padding-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  font-size: 15px;
  font-weight: 200px;
  position: relative;
  top:-98px;
  left: 350px;

}

.banner a:hover {
  transform: rotate(360deg);
  transition: 0.5s;
      cursor: pointer;
  color: #fff!important;
  text-decoration-color: #FFF;
  text-decoration: none !important;

}


.banner .donatebutton{
  position: relative;
  width: 100px !important;
  height: 54px !important;
  left: 220px;
  top:-38px;
  padding: 15px;
display: inline-block;
background: #045cb3;
text-decoration: none !important;
color: #fff;
border: 1px solid #fff;
border-radius: 5px;
}

.banner .donatebutton:hover{
  transform: rotate(360deg);
  box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.5s;
}

/*---
.banner .box{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 90%;
  left: 90%;
  border-radius: 50%;
  background:#fff;
  border-width: thin;
  border: 1px solid #fff;
  background-image: url(images/img8.png);
  background-size: cover;
  background-position: center;
  animation-iteration-count: infinite ;
}

.box:hover{
  background-color:#045cb3;
}
--*/

.mediaicons ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  top: -120px;
  left: -70px;
}


.mediaicons ul li:hover a{
  color: #045cb3;
}
.mediaicons ul{
  display: flex;
  justify-content: center;
}
.mediaicons ul li a{
  color: #fff;
  font-size: 25px;

}
.mediaicons .fa .fa-facebook{
  height: 100px;
  width: 100px;
}


/*-----Responsive Banner  ------*/
@media screen and (max-width:1024px){
  .mediaicons ul li{
    margin-top: 30px;
}
}
@media screen and (max-width:1000px){
  .mediaicons ul li{
    margin-top: -20px;
}
}
  @media screen and (max-width:1100px){

  .banner h4{
    font-size: 20px;
    width: 120%;
  }
  .banner h3{
  font-size: 60px;
  width: 120%;}

  .banner a{
      left: 310px;
    }

  .banner .donatebutton{
    left: 180px;
  }
  }


@media screen and (max-width:900px){

  .banner h4{
    font-size: 19px;
    width: 130%;
  }
  .banner h3{
  font-size: 55px;
  width: 130%;}

  .banner a{
      left: 310px;
    }

    .banner a{
        left: 280px;
      }

    .banner .donatebutton{
      left: 150px;
    }

}

@media screen and (max-width:768px){
  .mediaicons ul li{
    margin-top: 20px;
}
}
@media screen and (max-width:767px){
  .mediaicons ul li{
    margin-top: -20px;
}
}
@media screen and (max-width:760px){

  .banner h4{
    font-size: 18px;
    width: 140%;
  }
  .banner h3{
  font-size: 50px;
  width: 140%;}


}


@media screen and (max-width:650px){

  .banner h4{
    font-size: 16px;
    width: 140%;
  }
  .banner h3{
  font-size: 40px;
  width: 130%;
}

  .banner a{
      left: 270px;
    }

  .banner .donatebutton{
    left: 150px;
  }
}



@media screen and (max-width:550px){

  .banner h4{
    font-size: 15px;
    width: 140%;
  }
  .banner h3{
  font-size: 35px;
  width: 140%;}


  .mediaicons ul li{
    left: 2px;}

    .banner a{
        left: 250px;
      }

    .banner .donatebutton{
      left: 120px;
    }

}
}


/*-----Our Mission   -----------------------------------------------------------------------*/

.feature{
  overflow-x: hidden;
  font-family: avenir;
  margin-top: -100px;



}
.feature img{
    max-width: 100%;
    margin-top: 50px;
    cursor: pointer;
  margin-top: px ;
  height: 480px;
  padding-bottom: 20px;

}

.feature h2{
  font-size: 18px;
  font-weight: 500px;
  color: #045cb3}

  .feature p{
    text-align: justify;


  }
.feature h1{
  text-align: center;
  font-size: 40px;

}

.feature h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
  margin: 10px auto 5px;

}


/*-----Responsive Mission  ------*/

@media screen and (max-width:1250px){

  .feature h1{
    text-align: center;
    font-size: 30px;

  }
  .feature h2{
    font-size: 17px;
    font-weight: 500px;

  }
  .feature p{
    font-size: 15px;
    font-weight: 500px;

  }

}


@media screen and (max-width:1210px){

  .feature h1{
    font-size: 30px;

  }
  .feature h2{
    font-size: 14px;
    font-weight: 500px;

  }
  .feature p{
    font-size: 14px;
  }

}


@media screen and (max-width:1000px){

  .feature h1{
    font-size: 25px;

  }
  .feature h2{
    font-size: 13px;
    font-weight: 500px;

  }
  .feature p{
    font-size: 12px;
  }

  .feature img{

    height: 430px;
    padding-bottom: 20px;

  }
}


@media screen and (max-width:767px){

  .feature h1{
    font-size: 30px;
    padding-top: 30px;

  }
  .feature h2{
    font-size: 15px;
    font-weight: 500px;

  }
  .feature p{
    font-size: 14px;
  }
  .feature img{
    height: 420px;
  }

}

@media screen and (max-width:600px){

  .feature img{
    height: 350px;
    margin-top: -30px;

  }

}


@media screen and (max-width:500px){

  .feature img{
    height: 320px;
    margin-top: -30px;

  }

}



/*----- NEMO   -----------------------------------------------------------------------*/



.banner1{
font-family: avenir;
position: relative;
top: 20px;
  overflow-x: hidden;


}
.banner1 .parallax{
  background: url('https://imgur.com/JNYfnlg.png') no-repeat center;
  background-size: cover;

  height: 800px;
}


.banner1.nemotext{
position: relative;
width: 100px;
}


.banner1 h1{
  position: relative;
  font-size: 40px;
  margin: 50px;
    margin-top: 10px;
  left: 20px;
  font-weight: 400;
  top: 70px;
}

.banner1 h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
}

.banner1 p{
  text-align: left;
  position: relative;
  font-size: 16px;
  padding-bottom: 5px;
  left: 70px;
  font-weight: 300;
  line-height: 1.6;
  width: 33%;
  top: 70px;
  text-align: justify;

}

.banner1 h5{
  text-align: center;
  font-size: 30px;
  position: relative;

}

.banner1 .nemotext a{
  padding: 13px;
  width: 150px;
  position: relative;
left: 100px;
  padding-left: 10px;
  display: inline-block;
  background: #045cb3;
  text-decoration: none !important;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px 10px 100px 10px;
  font-size: 16px;
  top: 70px;
}

.banner1 a:hover{
      background: #5dbcd2;
      transition: 0.5s;
    }


    /*-----Responsive nemo  ------*/

    @media screen and (max-width:1400px){

      .banner1 p{
        font-size: 15px;
        width: 40%;
      }
    }

        @media screen and (max-width:1100px){

          .banner1 p{
            font-size: 15px;
            width: 42%;
          }

        }

        @media screen and (max-width:1000px){

          .banner1 p{
            font-size: 16px;
            width: 45%;
          }
        }


        @media screen and (max-width:900px){

          .banner1 p{
            font-size: 200px;
            width: 70%;
          }

        }

        @media screen and (max-width:900px){

          .banner1 p{
            font-size: 18px;
            width: 70%;
          }

        }

        @media screen and (max-width:800px){

          .banner1 p{
            font-size: 17px;
            width: 70%;
          }

        }

        @media screen and (max-width:700px){

          .banner1 p{
            font-size: 16px;
            width: 70%;
          }

        }
        @media screen and (max-width:600px){

          .banner1 p{
            font-size: 14px;
            width: 70%;
          }

        }





    /*----- Keyfacts  -----------------------------------------------------------------------*/


.keyfacts
    {
      background-color:  !important;
      background-size: cover;
      background-position: center;
      padding-top: 30px;
      position:relative;
      top: -10px;
      padding-bottom: 60px;
      font-family: avenir;
        overflow-x: hidden;
    }

    .keyfacts h1{
        text-align: center;
        position: relative;
        font-size: 40px;
        left: 20px;
        padding-bottom: 10px;
    }

    .keyfacts h1::after{
        content: '';
        background:  #5eb2df;
        display: block;
        height: 3px;
        width: 120px;
        margin: 15px auto 10px;
    }


    .keyfacts{
      margin-top: 80px;

    }
                      /*---ICONS-REserahch aims---->*/
    .icon1{    text-align: center; color: #045cb3; font-size: 40px; margin: 30px auto; padding: 12px;
       height: 80px; width: 80px; border: 1px solid black; border-radius: 50%;
       transition-duration: 1900ms; transition-property: all;
    }
    .icon2{    text-align: center; color: #045cb3; font-size: 40px; margin: 30px auto; padding: 12px;
       height: 80px; width: 80px; border: 1px solid black; border-radius: 50%;
       transition-duration: 1900ms; transition-property: all;
    }
    .icon3{    text-align: center; color: #045cb3; font-size: 40px; margin: 30px auto; padding: 12px;
       height: 80px; width: 80px; border: 1px solid black; border-radius: 50%;
       transition-duration: 1900ms; transition-property: all;
    }

    .icon1:hover{
      transform: rotate(360deg);
    }

    .icon2:hover{
      transform: rotate(360deg);
    }
    .icon3:hover{
      transform: rotate(360deg);
    }

.keyfacts h3{
      font-size: 50px;
      color: black;
    }
.keyfacts h4{
      font-size: 20px;
      margin-top: -10px;

    }
.keyfacts .col-md-4:hover{
  transform:matrix3d( 1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      0.1,0.01,0,0.95);
    cursor: pointer;
  transition: 1s;

    }


    /*----- Making A Difference   -----------------------------------------------------------------------*/


    .dif{
      padding: 40px 0;
      padding-bottom: 100px;
      background: #fff;
      margin-top: -50px;
    font-family: avenir;
      overflow-x: hidden;
  }

    .dif h1{
        text-align: center;
        position: relative;
       font-size: 40px;
        left: 20px;
        margin-top: 30px;
    }
    .dif h1::after{
        content: '';
        background:  #5eb2df;
        display: block;
        height: 3px;
        width: 120px;
        margin: 15px auto 10px;
    }

    .dif .single-price{
    display: inline;
    float: left;
    width: 100%;
    background-color: #efefef;
    transition: 0.5s;
    box-shadow: 0px 1px 18px #555;
    margin-top: 40px;

    }

    .dif .single-price:hover{
      box-shadow: 4px 2px 25px #333;
    }

    .dif .newsimage{
    width: 100%;
    height: 165px;
    margin-top: -4px;
    }

    .dif .price-head{
      background-color:  #efefef	;
      display: inline;
      float: left;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
    }


    .dif .price-content{
      display: inline;
      float: left;
      width: 100%;
      padding: 0 15px;
      background-color:  #efefef;

    }

    .dif .price-content{
      display: inline;
      float: left;
      width: 100%;
      padding: 0 15px;
      height: 440px;
    }

    .dif .price-content ul li{
      border-bottom: 1px solid #efefef;
      padding: 8px 6px;
      list-style: none;
    }

    .dif li .title{
      font-weight: 500px;
    }

    .dif ul li:last-child{
      border: none;
    }

    .dif .fa-check-circle{
      color: green;
      margin-right: 10px;
      font-size: 20px;
    }

    .dif .price-button{
        display: inline;
        float: left;
        padding: 15px 15px 30px;
        text-align: center;
        width: 100%;
        background-color:  #efefef;
        display: inline-block;

          }

    .dif .buy-btn{
      background-color:  #045cb3	;
      border-radius: 3px;
      display: inline-block;
      font-size: 15px;
      padding: 10px 25px;
      transition: 0.5s;


    }
    .dif .buy-btn:hover{
      border-color: 1px solid #fff;
      background-color: #3f51b5;

    }

    .dif .price-button a{
      text-decoration: none !important;
      color: #fff !important;
    }


    /*----- Making A Difference Respobnsive   -----------------------------------------------------------------------*/

      @media screen and (max-width:1200px){

          .dif ul li{
              font-size: 13.5px;}

          .dif .newsimage{
              height: 140px;
        }
            }


            @media screen and (max-width:1000px){

                .dif ul li{
                    font-size: 10.5px;
              }
              .dif .newsimage{
                  height: 120px;
            }
                  }

      @media screen and (max-width:770px){

                      .dif ul li{
                          font-size: 22px;
                    }
                    .dif .newsimage{
                        height: 320px;
                  }
                        }

  @media screen and (max-width:768px){

.dif ul li{
      font-size: 11px;
}
.dif .newsimage{
    height: 150px;
      }
      }


  @media screen and (max-width:767px){

  .dif ul li{
font-size: 22px;
      }
  .dif .newsimage{
  height: 320px;
      }
      }

/*----- Footer  -----------------------------------------------------------------------*/






/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/
/*----- Our Work  -----------------------------------------------------------------------*/


/*----- Banner  -----------------------------------------------------------------------*/

.banner3 .parallax{
  background: url('https://imgur.com/bKjuTVR.png') no-repeat center;
  background-size: cover;

  height: 460px;
}


/*---
.banner3 {
    overflow-x: hidden;
  background: url('images/aboutbanner1.jpg') no-repeat center;
  background-size: cover;
    height: 470px;
    width: 100%;
    background-attachment:inherit;
--*/

}
.banner3{
font-family: avenir;
color: #fff;

}


.banner3 .introduction{
background-color: ;
padding: ;
position: absolute;
top: 10%;
height: 500px;
width: 50%;
margin-top: 70px;
}

.banner3 h3
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 60px;
  padding-top: -20px;
  padding-bottom: : 70px;
  left: 60px;
  font-weight: 400;
}


.banner3 h3::after{
  content: '';
  background:  #fff;
  display: block;
  height: 3px;
  width: 250px;
}

.banner3 h4
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  left: 60px;
  font-weight: 300;
  line-height: 1.6;
  width: 90%;
}

/*-----  Marine RESEARCH -----------------------------------------------------------------------*/

.feature1{
    overflow-x: hidden;
  margin: 100px ;
  font-family: avenir;

}
.feature1 img{
    max-width: 100%;
    cursor: pointer;
  margin-top: 120px ;
  height: 400px;
}

.feature1 h2{
  font-size: 18px;
  font-weight: 500px;
  color: #045cb3}


.feature1 h1{
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;

}

.feature1 h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
  margin: 10px auto 5px;

}

.feature1 p{
  font-size: 14px;
  font-weight: 500px;
  text-align: justify;

}


/*-----Responsive feature1  ------*/

@media screen and (max-width:1300px){

  .feature1 h2{
      overflow-x: hidden;
    font-size: 16px;
    font-weight: 500px;
    color: #045cb3
  }


    .feature1 p{
      font-size: 14px;
}
    }

    @media screen and (max-width:1150px){

      .feature1 h2{
        font-size: 16px;
        font-weight: 500px;
        color: #045cb3
      }




          .feature1 h1{
            text-align: center;
            font-size: 35px;

          }
        .feature1 p{
          font-size: 13px;
    }
        }


  @media screen and (max-width:1000px){

              .feature1 h2{
                font-size: 16px;
                font-weight: 500px;
                color: #045cb3
              }


                .feature1 p{
                  font-size: 13px;
            }
            .feature1 img{
              height: 380px;
            }

                }


@media screen and (max-width:950px){

.feature1 h2{
  font-size: 16px;

    }


    .feature1 h1{
      text-align: center;
      font-size: 30px;

    }


.feature1 p{
font-size: 12px;
      }
.feature1 img{
  height: 380px;
        }
  }

  @media screen and (max-width:900px){

  .feature1 h2{
    font-size: 14px;
      }


  .feature1 p{
  font-size: 11px;
        }
  .feature1 img{
    height: 360px;
          }
    }

    @media screen and (max-width:850px){


    .feature1 img{
      height: 340px;
            }
      }

      @media screen and (max-width:767px){

      .feature1 h2{
        font-size: 16px;
          }


      .feature1 p{
      font-size: 14px;
            }
      .feature1 img{
        height: 400px;
        margin-top: 3px
              }
        }

        @media screen and (max-width:650px){

        .feature1 img{
          height: 320px;
          margin-top: 3px
        }
          }

          @media screen and (max-width:550px){

          .banner3 h3{
            font-size:20
                  }
            }


            @media screen and (max-width:600px){

              .banner3 h3
              {
                font-size: 50px;
              }
              .banner3 h3::after{
                width: 200px;
              }
            }
/*-----  Youth Education -----------------------------------------------------------------------*/

.feature2{
    overflow-x: hidden;
  margin: 100px ;
  font-family: avenir;

}
.feature2 img{
    max-width: 100%;
    cursor: pointer;
  margin-top: 20px ;
  height: 400px;


}

.feature2 h2{
  font-size: 18px;
  font-weight: 500px;
  color: #045cb3}


.feature2 h1{
  text-align: center;
  font-size: 40px;
    padding-bottom: 10px;

}
.feature2 p{
  text-align: justify;

}


.feature2 h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
  margin: 10px auto 5px;

}

/*-----Responsive feature2  ------*/

@media screen and (max-width:1300px){

  .feature2 h2{
    font-size: 16px;
    font-weight: 500px;
    color: #045cb3
  }


    .feature2 p{
      font-size: 14px;
}
    }

    @media screen and (max-width:1150px){

      .feature2 h2{
        font-size: 16px;
        font-weight: 500px;
        color: #045cb3
      }




          .feature2 h1{
            text-align: center;
            font-size: 35px;

          }
        .feature2 p{
          font-size: 13px;
    }
        }


  @media screen and (max-width:1000px){

              .feature2 h2{
                font-size: 16px;
                font-weight: 500px;
                color: #045cb3
              }


                .feature2 p{
                  font-size: 13px;
            }
            .feature2 img{
              height: 360px;
            }

                }


@media screen and (max-width:950px){

.feature2 h2{
  font-size: 16px;

    }


    .feature2 h1{
      text-align: center;
      font-size: 30px;

    }


.feature2 p{
font-size: 12px;
      }
.feature2 img{
  height: 330px;
        }
  }

  @media screen and (max-width:900px){

  .feature2 h2{
    font-size: 14px;
      }


  .feature2 p{
  font-size: 11px;
        }
  .feature2 img{
    height: 320px;
    padding-top: 50px;
          }
    }

    @media screen and (max-width:850px){


    .feature2 img{
      height: 310px;
      margin-top: 50px;
            }
      }

      @media screen and (max-width:767px){

      .feature2 h2{
        font-size: 16px;
          }


      .feature2 p{
      font-size: 14px;
            }
      .feature2 img{
        height: 400px;
        padding-bottom: 50px;
              }
        }

        @media screen and (max-width:650px){

        .feature2 img{
          height: 340px;
          margin-top: 3px
                }
          }

/*-----  Environemnt Protection -----------------------------------------------------------------------*/

.feature3{
    overflow-x: hidden;
  margin: 100px ;
  font-family: avenir;

}
.feature3 img{
    max-width: 100%;
    cursor: pointer;
  margin-top: 50px ;
  height: 450px;
}

.feature3 h2{
  font-size: 18px;
  font-weight: 500px;
  color: #045cb3}

  .feature3 p{
    font-size: 14px;
    font-weight: 500px;
    text-align: justify;

  }

.feature3 h1{
  text-align: center;
  font-size: 40px;
    padding-bottom: 10px;
}

.feature3 h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
  margin: 10px auto 5px;
}


/*-----Responsive feature3  ------*/

@media screen and (max-width:1300px){

  .feature3 h2{
    font-size: 16px;
    font-weight: 500px;
    color: #045cb3
  }


    .feature3 p{
      font-size: 14px;
}
    }

    @media screen and (max-width:1150px){

      .feature3 h2{
        font-size: 16px;

      }



          .feature3 h1{
            text-align: center;
            font-size: 30px;

          }
        .feature3 p{
          font-size: 13px;
    }
        }


  @media screen and (max-width:1000px){

              .feature3 h2{
                font-size: 16px;
              }

              .feature3 h1{
                text-align: center;
                font-size: 25px;

              }
                .feature3 p{
                  font-size: 12px;
            }
            .feature3 img{
              height: 430px;
            }

                }


@media screen and (max-width:950px){

.feature3 h2{
  font-size: 16px;

    }


    .feature3 h1{
      text-align: center;
      font-size: 30px;

    }


.feature3 p{
font-size: 11px;
      }
.feature3 img{
  height: 410px;
        }
  }

  @media screen and (max-width:900px){

  .feature3 h2{
    font-size: 14px;
      }


  .feature3 p{
  font-size: 10px;
        }
  .feature3 img{
    height: 390px;
          }
    }

    @media screen and (max-width:850px){


    .feature3 img{
      height: 380px;
      margin-top: 50px;
            }
            .feature3 p{
            font-size: 10px;
                  }
      }

      @media screen and (max-width:767px){

      .feature3 h2{
        font-size: 16px;
          }


      .feature3 p{
      font-size: 14px;
            }
      .feature3 img{
        height: 450px;
        padding-bottom: 50px;
              }
        }


              @media screen and (max-width:650px){

              .feature3 img{
                height: 350px;
                padding-bottom: 50px;
                      }
                }




/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/
/*----- NEMO  -----------------------------------------------------------------------*/



.banner5 .parallax{
  background: url('https://imgur.com/axLa1uU.png') no-repeat center;
  background-size: cover;
  height: 460px;
}



.banner5{
font-family: avenir;
color: #fff;
  overflow-x: hidden;

}


.banner5 .introduction{
background-color: ;
padding: ;
position: absolute;
top: 10%;
height: 500px;
width: 50%;
margin-top: 70px;
}

.banner5 h3
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 60px;
  padding-top: -20px;
  padding-bottom: : 70px;
  left: 60px;
  font-weight: 400;
}

.banner5 h3::after{
  content: '';
  background:  #fff;
  display: block;
  height: 3px;
  width: 180px;


}
.banner5 h4
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  left: 60px;
  font-weight: 300;
  line-height: 1.6;
  width: 90%;
}

/*----- NEMO Live -----------------------------------------------------------------------*/

.newlive{
  overflow-x: hidden; }

.nemolive h1{
    overflow-x: hidden;
    text-align: center;
    position: relative;
   font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}
.nemolive h1::after{
    content: '';
    background:  #5eb2df;
    display: block;
    height: 3px;
    width: 120px;
    margin: 15px auto 10px;
}

.nemolivebanner img{
    overflow-x: hidden;
  height: 650px;
  position: relative;
  width: 100%;
width: 100%;
  margin-top: 60px;
}


.banner11 {
    overflow-x: hidden;
    overflow-x: hidden;
  background: url('https://imgur.com/muqYmaT.png') no-repeat center;
  background-size: cover;
    height: 460px;
    width: 100%;
    margin-bottom: -70px;
    background-attachment:inherit;}



@media screen and (max-width:1000px){
  .nemolivebanner img{
    height: 500px;

  }
}

@media screen and (max-width:700px){
  .nemolivebanner img{
    height: 450px;
}
  }

  @media screen and (max-width:500px){
    .nemolivebanner img{
      height: 400px;
  }
    }
/*----- NEMO info -----------------------------------------------------------------------*/


.banner6{
    overflow-x: hidden;
font-family: avenir;
position: relative;
margin-top: 180px;


}
.banner6 .parallax{
  background: url('https://imgur.com/LvbBHcS.png') no-repeat center;
  background-size: cover;

  height: 800px;
}


.banner6.nemotext2{
position: relative;
width: 100px;
}


.banner6 h1{
  position: relative;
  font-size: 40px;
  margin: 50px;
    margin-top: 10px;
  left: 20px;
  font-weight: 400;
  top: 100px;
}

.banner6 h1::after{
  content: '';
  background:  #5eb2df;
  display: block;
  height: 3px;
  width: 120px;
}

.banner6 p{
  text-align: left;
  position: relative;
  font-size: 16px;
  padding-bottom: 20px;
  left: 70px;
  font-weight: 300;
  line-height: 1.6;
  width: 33%;
  top: 100px;
}

.banner6 h5{
  text-align: center;
  font-size: 30px;

}

.banner6 a{
  overflow-x: hidden;
  padding: 13px;
  width: 150px;
  position: relative;
  left: -430px;
  padding-left: 10px;
  display: inline-block;
  background: #045cb3;
  text-decoration: none !important;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px 10px 100px 10px;
  font-size: 16px;
  top: 100px;
}

.banner6 a:hover{
      background: #5dbcd2;
    }


    /*----- Nemo app how to use  -----------------------------------------------------------------------*/



        .nemoappuse{
          overflow-x: hidden;
          padding: 70px 0;
          padding-bottom: 100px;
          background: #fff;
          margin-top: -50px;
        font-family: avenir;
      }

        .nemoappuse h1{
            text-align: center;
            position: relative;
           font-size: 40px;
            left: 20px;
            margin-top: 30px;
        }
        .nemoappuse h1::after{
            content: '';
            background:  #5eb2df;
            display: block;
            height: 3px;
            width: 120px;
            margin: 15px auto 10px;
        }

        .nemoappuse .single-price{
          overflow-x: hidden;
        display: inline;
        float: left;
        width: 100%;
        background-color: #efefef;
        transition: 0.5s;
        box-shadow: 0px 1px 18px #555;
        margin-top: 40px;

        }

        .nemoappuse .single-price:hover{
          box-shadow: 4px 2px 25px #333;
        }

        .nemoappuse .newsimage{
          overflow-x: hidden;
        width: 100%;
        height: 350px;
        margin-top: -12px;
        }

        .nemoappuse .price-head{
          background-color:  #efefef	;
          display: inline;
          float: left;
          padding: 20px 5px;
          text-align: center;
          width: 100%;
        }


        .nemoappuse .price-content{
          display: inline;
          float: left;
          width: 100%;
          padding: 0 15px;
          background-color:  #efefef;

        }

        .nemoappuse .price-content{
          display: inline;
          float: left;
          width: 100%;
          padding: 0 15px;
          height: 400px;
        }

        .nemoappuse .price-content ul li{
          border-bottom: 1px solid #efefef;
          padding: 8px 6px;
          list-style: none;
        }

        .nemoappuse li .title{
          font-weight: 500px;
        }

        .nemoappuse ul li:last-child{
          border: none;
        }

        .nemoappuse .fa-check-circle{
          color: green;
          margin-right: 10px;
          font-size: 20px;
        }

        .nemoappuse .price-button{
            display: inline;
            float: left;
            padding: 15px 15px 30px;
            text-align: center;
            width: 100%;
            background-color:  #efefef;
            display: inline-block;

              }

        .nemoappuse .buy-btn{
          overflow-x: hidden;
          background-color:  #045cb3	;
          border-radius: 3px;
          display: inline-block;
          font-size: 15px;
          padding: 10px 25px;
          transition: 0.5s;


        }
        .nemoappuse .buy-btn:hover{
          border-color: 1px solid #fff;
          background-color: #3f51b5;

        }

        .nemoappuse .price-button a{
          text-decoration: none !important;
          color: #fff !important;
        }



    .banner10 {
        overflow-x: hidden;
      background: url('images/nemoappicons.jpg') no-repeat center;
      background-size: cover;
      position: relative;
      left: -40px;
      margin-bottom: 40px;
      height: 200px;
        width: 100%;
    }

  @media screen and (max-width:768px){

    .nemoappuse .newsimage{
    height: 350px;
    }


   .nemoappuse li{
  font-size: 12px !important!
}
}


    @media screen and (max-width:600px){


        .banner10 {

          height: 180px;

        }
          }


        .banner20 {
            overflow-x: hidden;
          background: url('https://imgur.com/mnHvL78.png') no-repeat center;
          background-size: cover;
          position: relative;

          height: 240px;
            width: 100%;
        }


        /*-----nemoappuse Responsive -----------------------------------------------------------------------*/

          @media screen and (max-width:1200px){

              .nemoappuse ul li{
                  font-size: 13.5px;}

              .nemoappuse .newsimage{
                  height: 320px;
            }
                }


                @media screen and (max-width:1000px){

                    .nemoappuse ul li{
                        font-size: 10.5px;
                  }
                  .nemoappuse .newsimage{
                      height: 270px;
                }
                      }

          @media screen and (max-width:770px){

                          .nemoappuse ul li{
                              font-size: 22px;
                        }
                        .nemoappuse .newsimage{
                            height: 600px;
                      }
                            }

                            @media screen and (max-width:700px){

                                            .banner5 h4{
                                              font-size: 17px;
                                            }
                                        }

      @media screen and (max-width:768px){
        .nemoappuse ul li{
            font-size: 11px;
      }
      .nemoappuse .newsimage{
          height: 240px;
    }
      }
      @media screen and (max-width:767px){

      .nemoappuse ul li{
          font-size: 22px;
              }
          .nemoappuse .newsimage{
              height: 600px;
                  }
              }

/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/
/*----- News -----------------------------------------------------------------------*/

.banner7 .parallax{
  background: url('https://imgur.com/Uk4gIze.png') no-repeat center;
  background-size: cover;
 
  height: 460px;
}


}
.banner7{
font-family: avenir;
color: #fff;

}


.banner7 .introduction{
background-color: ;
padding: ;
position: absolute;
top: 10%;
height: 500px;
width: 50%;
margin-top: 70px;
}

.banner7 h3
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 60px;
  padding-top: -20px;
  padding-bottom: : 70px;
  left: 60px;
  font-weight: 400;
}

.banner7 h3::after{
  content: '';

  background:  #fff;
  display: block;
  height: 3px;
  width: 145px;


}
.banner7 h4
{
  color: #fff;
  text-align: left;
  position: relative;
  color: #white  !important;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  left: 60px;
  font-weight: 300;
  line-height: 1.6;
  width: 90%;
}





/*----- News pages  -----------------------------------------------------------------------*/


    .news{
        overflow-x: hidden;
      padding: 40px 0;
      padding-bottom: 100px;
      background: #fff;
      margin-top: -50px;
    font-family: avenir;
  }

    .news h1{
        text-align: center;
        position: relative;
       font-size: 40px;
        left: 20px;
        margin-top: 30px;
    }
    .news h1::after{
        content: '';
        background:  #5eb2df;
        display: block;
        height: 3px;
        width: 120px;
        margin: 15px auto 10px;
    }

    .news .single-price{
    display: inline;
    float: left;
    width: 100%;
    background-color: #efefef;
    transition: 0.5s;
    box-shadow: 0px 1px 18px #555;
    margin-top: 40px;

    }

    .news .single-price:hover{
      box-shadow: 4px 2px 25px #333;
    }

    .news .newsimage{
    width: 100%;
    height: 165px;
    margin-top: -4px;
    }

    .news .price-head{
      background-color:  #efefef	;
      display: inline;
      float: left;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
    }


    .news .price-content{
      display: inline;
      float: left;
      width: 100%;
      padding: 0 15px;
      background-color:  #efefef;

    }

    .news .price-content{
      display: inline;
      float: left;
      width: 100%;
      padding: 0 15px;
      height: 440px;
    }

    .news .price-content ul li{
      border-bottom: 1px solid #efefef;
      padding: 8px 6px;
      list-style: none;
    }

    .news li .title{
      font-weight: 500px;
    }

    .news ul li:last-child{
      border: none;
    }

    .news .fa-check-circle{
      color: green;
      margin-right: 10px;
      font-size: 20px;
    }

    .news .price-button{
        display: inline;
        float: left;
        padding: 15px 15px 30px;
        text-align: center;
        width: 100%;
        background-color:  #efefef;
        display: inline-block;

          }

    .news .buy-btn{
      background-color:  #045cb3	;
      border-radius: 3px;
      display: inline-block;
      font-size: 15px;
      padding: 10px 25px;
      transition: 0.5s;


    }
    .news .buy-btn:hover{
      border-color: 1px solid #fff;
      background-color: #3f51b5;

    }

    .news .price-button a{
      text-decoration: none !important;
      color: #fff !important;
    }



    /*-----News Responsive -----------------------------------------------------------------------*/

      @media screen and (max-width:1200px){

          .news ul li{
              font-size: 13.5px;}

          .news .newsimage{
              height: 140px;
        }
            }


            @media screen and (max-width:1000px){

                .news ul li{
                    font-size: 10.5px;
              }
              .news .newsimage{
                  height: 120px;
            }
                  }

      @media screen and (max-width:770px){

                      .news ul li{
                          font-size: 22px;
                    }
                    .news .newsimage{
                        height: 320px;
                  }
                        }

/*-----footer -----------------------------------------------------------------------*/

.banner2 {
    overflow-x: hidden;
  background: url('images/footer.jpg') no-repeat center;
  background-size: cover;
  height: 320px;
    width: 100%;
}





/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/
/*----- Article Layout  -----------------------------------------------------------------------*/


.article{
  overflow-x: hidden;
  background-color: blue !important;
  background-size: cover;
  background-position: center;

  position:relative;
  padding-top: 20px;
  padding-bottom: 40px;
  background:  url('https://imgur.com/bKjuTVR.png');
  background-position: center;
  background-size: cover;

  color: white;
  height: 260px;
}

.article h1{
  overflow-x: hidden;
  font-size: 35px;
  margin-top: 100px;
}
.article p{
  overflow-x: hidden;
  position: relative;
  margin-left:50px;
  width: 80%;
  overflow-x: hidden;

  }
}

/*----- Title & IMG  -----------------------------------------------------------------------*/


.title{
  font-family: avenir;

}
.title img{
    margin-top: 50px;
    cursor: pointer;
  height: 300px;
  width: 100%;
  padding-bottom: 20px;

}

.title h2{
  font-size: 18px;
    margin-top: 100px;
    position: relative;
  margin-left: 220px;
  padding-bottom: 20px;
}


.title h1{
  text-align: center;
  font-size: 43px;

}

/*----- Writing  -----------------------------------------------------------------------*/

.article2 {
  padding-top: 50px;
  font-family: avenir;
  padding-bottom: 50px;
}
.article2 p{
font-size: 18px;

}




/*----- Phone Responsive  -----------------------------------------------------------------------*/
/*----- Phone Responsive  -----------------------------------------------------------------------*/
/*----- Phone Responsive  -----------------------------------------------------------------------*/
/*----- Phone Responsive  -----------------------------------------------------------------------*/
/*----- Phone Responsive  -----------------------------------------------------------------------*/
/*----- Phone Responsive  -----------------------------------------------------------------------*/


/*----- IPhone 6/7/8  -----------------------------------------------------------------------*/

/*----- aboutphoneBanner  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){

  .logo{
    height: 200px;
    width: 200px;
    left: 100px;
    top: 10px;
}


.banner .parallax{
  background: url('https://imgur.com/bKjuTVR.png') no-repeat center;
  background-size: cover;
  height: 800px;
}

.banner h3
{
font-size: 45px;
font-weight: 500;
margin-top: 30px;
width: 10%;
text-align: center;
position: relative;
left:110px;
}

.banner h4
{
  font-size: 20px;
  right: 80px;
  position: relative;
  left:70px;
}

.banner a{
 left: 85px;
}

.banner .donatebutton{
 left: 215px;
}

.mediaicons ul li{
  margin-top: 30px;
}

.banner .box{
display: none;
}
}

@media screen and (max-width:375px){
  .mediaicons ul li{
    margin-top: 60px;
  }
  .banner h3
  {
  left:110px;
  }

  .banner h4{
    left:90px;
  }
}
@media screen and (max-width:320px){
  
  
.banner .parallax{
  background: url('https://imgur.com/ZXBZBcW.png') no-repeat center;
  background-size: cover;
  
  height: 800px;
}

  .logo{
    height: 150px;
    width: 150px;
    left: 80px;
    top: 10px;
}
.banner a{
 left: 50px;
}
.banner .donatebutton{
 left: 180px;
}
.mediaicons ul li{
  margin-top: 30px;
}

.banner h3
{
left:90px;
}

.banner h4
{

  left:60px;
}
}

/*----- aboutphonemission  -----------------------------------------------------------------------*/


@media screen and (max-width:414px){

.feature h2{
  position: relative;
  margin-top: 30px;
    text-align: center;
}

.feature h1{

  text-align: center;
  font-size: 40px;
}

.feature p{

  position: relative;
  left:28px;
  width: 85%;
}


.feature img{
  position: relative;
    margin-top: 0px;
    cursor: pointer;
  margin-top: px ;
  height: 400px;
  padding-bottom: 20px;
}
}
/*----- aboutphonenemo  -----------------------------------------------------------------------*/


@media screen and (max-width:414px){
  .banner1 p {
    position: relative;
    font-size: 14px;
    left: 30px!important;;
    width: 85%!important;;
}
  .banner1 .nemotext a{
left: 35px;
}

@media screen and (max-width:320px){
  .banner1 p {

    font-size: 12px;

}
  .banner1 .nemotext a{
left: 30px !important;
  width: 85%;
}
}

/*----- aboutphonedifference  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){

.dif{
  position: relative;
   width: 90%;
   left: 24px;
}

.dif h1 {
  font-size: 40px;
}
.dif ul li{
font-size: 18px;
}

.dif .newsimage{
    height: 250px!important;;
      }

      .dif h1{
      margin-right: 40px;
      }
    }
@media screen and (max-width:375px){

  .dif h1{
  margin-right: 40px;
  }
  .dif h2{
  margin-right: 20px;
  }

}

@media screen and (max-width:360px){
  .dif ul li{
  font-size: 17px;
  }
}

@media screen and (max-width:320px){
  .dif ul li{
  font-size: 16px;
  }
  .dif{
    position: relative;
     width: 90%;
     left: 15px;
  }
  .dif .newsimage{
      height: 250px!important;;
        }
}
/*----- aboutphonefooter  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){

        .banner20 {
          height: 205px !important;

        }
      }
@media screen and (max-width:360px){

  .banner20 {

    height: 180px !important;

  }
}

@media screen and (max-width:320px){

  .banner20 !important{

    height: 150px;

  }
}


/*----- ourworkphone  -----------------------------------------------------------------------*/
/*----- ourworkphone  -----------------------------------------------------------------------*/
/*----- ourworkphone  -----------------------------------------------------------------------*/
/*----- ourworkphone  -----------------------------------------------------------------------*/
/*----- ourworkphone  -----------------------------------------------------------------------*/
/*----- ourworkphone  -----------------------------------------------------------------------*/

/*----- Banner  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){



.banner3 h3{
              text-align: left;
              position: relative;
              color: #white  !important;
              font-size: 50px!important;
            }

            .banner3 h3::after{
              width: 100px!important;;
            }

            .banner3 h4
            {
              text-align: left;
              position: relative;
              color: #white  !important;
              font-size: 17px;
              padding-top: 20px;
              padding-bottom: 60px;
              left: 60px;
              font-weight: 300;
              line-height: 1.6;
              width: 90%;
            }

}

/*----- youth Education/ Marine Research/ Environemnt Conservatin  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){

      .feature1{
        position: relative;
        left:-75px;
        width: 85%;
}

.feature2{
  position: relative;
  left:-75px;
  width: 85%;
}
    .feature3{
      position: relative;
      left:-75px;
      width: 85%;
      margin-bottom: -0px
}
}



/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/
/*----- nemophone  -----------------------------------------------------------------------*/

/*----- banner  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){


  .banner5 h4
  {

    font-size: 16px !important;

}
}

/*----- gibtel  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){


  .banner11 {

      height: 300px !important;;

}
}
@media screen and (max-width:320px){


  .banner11 {

      height: 200px !important;

}
}
/*----- Nemo app how to use  -----------------------------------------------------------------------*/

@media screen and (max-width:414px){

.nemoappuse h1{
  position: relative;
  left: -0.5px;
}
  .nemoappuse .newsimage{
  width: 100%;
  height:500px;
  margin-top: -12px;
  }

  .nemoappuse ul li{
      font-size: 18px!important;
    }

    .banner10{
height: 130px !important;;
margin-left: 30px;
          }
}
    @media screen and (max-width:320px){


        .nemoappuse ul li{
            font-size: 17px!important;
          }

.banner10{
  position: relative;
height: 110px !important;
margin-left: 30px;
      }
    }

/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/
/*----- newsphone  -----------------------------------------------------------------------*/





@media screen and (max-width:414px){

.news{
  position: relative;
   width: 90%;
   left: 24px;
   margin-top: 50px;
}

.news h1 {
  font-size: 40px;
  left: -0.5px;
}

.news ul li{
    font-size: 18px !important;
  }
  .news .newsimage{
      height: 250px!important;;
        }
}


@media screen and (max-width:320px){
  .news ul li{
      font-size: 16px !important;
    }

  .news{
    position: relative;
     width: 90%;
     left: 15px;
  }

  .news .newsimage{
      height: 200px!important;;
        }
}


  @media screen and (max-width:768px){

.news ul li{
      font-size: 11px;
}
.news .newsimage{
    height: 150px;
      }
  }


  @media screen and (max-width:767px){

  .news ul li{
font-size: 22px;
      }
  .news .newsimage{
  height: 320px;
      }
      }


      /*----- articlephone  -----------------------------------------------------------------------*/

      @media screen and (max-width:414px){

        .title h2{
          font-size: 18px;
          margin-left: 50px;

            position: relative;
          margin-left: 100;
          padding-bottom: 20px;
        }

        .article2 p{
          overflow-x: hidden;
          position: relative;
          margin-left:40px  !important;;
          width: 80% !important;;
          overflow-x: hidden;

          }
      }

      @media screen and (max-width:320px){

                .article2 p{
                  overflow-x: hidden;
                  position: relative;
                  margin-left:35px  !important;;
                  width: 80% !important;;
                  overflow-x: hidden;

                  }
              }
    }
